@import "tailwindcss";

@theme {
  --container-7xl: 91.875rem;
  --container-padding: 1.5rem;
  --font-sans: var(--font-roboto-mono), ui-sans-serif, system-ui;
  --font-mono: var(--font-ubuntu-mono), ui-mono-spaced, monospace;
}

:root {
  --background: #010101;
  --foreground: #fff;
}

header{
  font-family: var(--font-ubuntu-mono); /* Força no header */
}

h1{
  font-family: var(--font-ubuntu-mono); /* Força no header */
}

p, span{
  font-family: var(--font-roboto-mono); /* Força no header */
}

footer a{
  font-family: var(--font-ubuntu-mono); /* Força no header */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono); /* Força a aplicação direta */
}
